{% extends "base.html" %}
{% block footer %}
<body data-type="index">
{% endblock %}
{% block content %}
<div class="tpl-content-wrapper">
    <!-- 页头信息 -->
    <ol class="am-breadcrumb">
        <li>
            <a href="{% url 'index' %}" class="am-icon-home">概览</a></li>
        <li class="am-active">东南亚综合报表</li></ol>
    <!-- 信息提示框 -->
    <div class="tpl-content-scope">
        <div class="note note-info">
            <p>
                <span class="label label-danger">提示:</span>本数据为当月数据，整合（梦幻泰国，梦幻印尼，乱轰印尼数据）。{{ active }}</p></div>
    </div>
    <div class="row">
        <div class="am-u-md-12 am-u-sm-12 row-mb">
            <div class="tpl-portlet">
                <div class="tpl-portlet-title">
                    <div class="tpl-caption font-red ">
                        <i class="am-icon-bar-chart am-icon-fw"></i>
                        <span>
                            <span id="nowmon"></span>主要数据指标</span>
                    </div>
                    <div class="tpl-portlet-input">
                        <div class="portlet-input input-small input-inline ">
                            <div class="search-control ">
                                <input type="text" id="change_time" class="Wdate" onclick="datechange()" /></div>
                        </div>
                    </div>
                </div>
                <div class="am-g">
                    <div class="number-stats">
                        <ul>
                            <li>
                                <div class="stat-number am-fl am-u-md-2">
                                    <div class="title am-text-left">总流水</div>
                                    <div id="m_money" class="number am-text-middle am-text-warning"></div>
                                </div>
                                <div class="stat-number am-fr am-u-md-2">
                                    <div class="title am-text-left">预估月流水</div>
                                    <div id="est_money" class="number am-text-middle am-text-warning"></div>
                                </div>
                                <div class="stat-number am-fr am-u-md-2">
                                    <div class="title am-text-left">流水完成率</div>
                                    <div id="all_rate" class="number am-text-middle am-text-warning"></div>
                                </div>
                                <div class="stat-number am-fr am-u-md-2">
                                    <div class="title am-text-left">营业额完成率</div>
                                    <div id="rate" class="number am-text-middle am-text-warning"></div>
                                </div>
                                <div class="stat-number am-fr am-u-md-2">
                                    <div class="title am-text-left">预估营业额完成率</div>
                                    <div id="est_rate" class="number am-text-middle am-text-warning"></div>
                                </div>
                                <div class="stat-number am-fr am-u-md-2">
                                    <div class="title am-text-left">预估流水完成率</div>
                                    <div id="est_all_rate" class="number am-text-middle am-text-warning"></div>
                                </div>
                            </li>
                            <div class="stat-number am-fr am-u-md-2">
                                <div class="title am-text-left">新玩家付费占比</div>
                                <div id="dunpay_rate" class="number am-text-middle am-text-warning"></div>
                            </div>
                        </ul>
                        <ul>
                            <li>
                                <div class="stat-number am-fr am-u-md-2">
                                    <div class="title am-text-left">新增用户</div>
                                    <div id="all_dnu" class="number am-text-middle am-text-warning"></div>
                                </div>
                                <div class="stat-number am-fr am-u-md-2">
                                    <div class="title am-text-left">安卓流水</div>
                                    <div id="and_money" class="number am-text-middle am-text-warning"></div>
                                </div>
                                <div class="stat-number am-fr am-u-md-2">
                                    <div class="title am-text-left">ios流水</div>
                                    <div id="ios_money" class="number am-text-middle am-text-warning"></div>
                                </div>
                                <div class="stat-number am-fr am-u-md-2">
                                    <div class="title am-text-left">安卓玩家数</div>
                                    <div id="and_num" class="number am-text-middle am-text-warning"></div>
                                </div>
                                <div class="stat-number am-fr am-u-md-2">
                                    <div class="title am-text-left">ios玩家数</div>
                                    <div id="ios_num" class="number am-text-middle am-text-warning"></div>
                                </div>
                                <div class="stat-number am-fr am-u-md-2">
                                    <div class="title am-text-left">安卓玩家价值</div>
                                    <div id="and_ltv" class="number am-text-middle am-text-warning"></div>
                                </div>
                                <div class="stat-number am-fr am-u-md-2">
                                    <div class="title am-text-left">ios玩家价值</div>
                                    <div id="ios_ltv" class="number am-text-middle am-text-warning"></div>
                                </div>
                                <div class="stat-number am-fr am-u-md-2">
                                    <div class="title am-text-left">arpu</div>
                                    <div id="Avg_arpu" class="number am-text-middle am-text-warning"></div>
                                </div>
                                <div class="stat-number am-fr am-u-md-2">
                                    <div class="title am-text-left">arppu</div>
                                    <div id="Avg_arppu" class="number am-text-middle am-text-warning"></div>
                                </div>
                                <div class="stat-number am-fr am-u-md-2">
                                    <div class="title am-text-left">付费率</div>
                                    <div id="Avg_payrate" class="number am-text-middle am-text-warning"></div>
                                </div>
                                <div class="stat-number am-fr am-u-md-2">
                                    <div class="title am-text-left">用户终身价值</div>
                                    <div id="ltv" class="number am-text-middle am-text-warning"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="am-u-md-12 am-u-sm-12 row-mb">
            <div class="tpl-portlet">
                <div class="tpl-portlet-title">
                    <div class="tpl-caption font-red ">
                        <i class="am-icon-bar-chart"></i>
                        <span>各游戏综合情况</span></div>
                </div>
                <div class="tpl-scrollable">
                    <table class="am-table tpl-table">
                        <thead>
                            <tr class="tpl-table-uppercase">
                                <th>项目</th>
                                <th>流水</th>
                                <th>Android新增</th>
                                <th>Android流水</th>
                                <th>iOS新增</th>
                                <th>iOS流水</th>
                                <th>付费率</th>
                                <th>arpu</th>
                                <th>arppu</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a class="user-name" href="###">梦幻之翼-泰国</a></td>
                                <td id = 'rofmoney_th'></td>
                                <td id="rofadn_th"></td>
                                <td id="rofadn_money_th"></td>
                                <td id="rofios_th"></td>
                                <td id="rofios_money_th"></td>
                                <td id="rof_payrate_th"></td>
                                <td id="rof_arppu_th"></td>
                                <td id="rof_arpu_th"></td>

                            <tr>
                                <td>
                                    <a class="user-name" href="###">梦幻之翼-印尼.</a></td>
                                <td id="rofmoney_id"></td>
                                <td id="rofadn_id"></td>
                                <td id="rofadn_money_id"></td>
                                <td id="rofios_id"></td>
                                <td id="rofios_money_id"></td>
                                <td id="rof_payrate_id"></td>
                                <td id="rof_arppu_id"></td>
                                <td id="rof_arpu_id"></td>
                            <tr>
                                <td>
                                    <a class="user-name" href="###">乱轰三国</a></td>
                                <td id ="e3kmoney_id"></td>
                                <td id="e3kadn_id"></td>
                                <td id="e3kadn_money_id"></td>
                                <td id="e3kios_id"></td>
                                <td id="e3kios_money_id"></td>
                                <td id="e3k_payrate_id"></td>
                                <td id="e3k_arppu_id"></td>
                                <td id="e3k_arpu_id"></td>

                            <tr>
                                <td>

                                    <a class="user-name" href="###">灵力觉醒</a></td>
                                <td class="font-green bold">-</td>
                                <td class="font-green bold">-</td>
                                <td class="font-green bold">-</td>
                                <td class="font-green bold">-</td>
                                <td class="font-green bold">-</td>
                                <td class="font-green bold">-</td>
                                <td class="font-green bold">-</td>
                                <td class="font-green bold">-</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}




